[Unit]
Description=V2Ray Service
Documentation=https://www.v2ray.com/ https://www.v2fly.org/
After=network-online.target nss-lookup.target

[Service]
Type=simple
ExecStart=/home/yzk/.config/qv2ray/vcore/v2ray -config /home/yzk/.config/v2ray/config.json -confdir /home/yzk/.config/v2ray/asset
Restart=on-failure

[Install]
WantedBy=default.target
